body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  label {
    margin-bottom: 8px;
    display: block;
    font-weight: 500;
  }
  
  form {
    margin-top: 16px;
  }
  
  .hidden {
    display: none;
  }
  
  .card {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    text-align: center;
    margin-bottom: 20px; /* Add some space below the heading */
  }
  
  .card p {
    margin-bottom: 10px;
  }
  
  .card ul {
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  .card button {
    display: block;
    margin: 0 auto;
  }
  
  /* Additional styles for the leaderboard card */
  .leaderboard-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #796d6d;
    margin-bottom: 8px;
    border-radius: 4px;
    font-size: 14px; /* Smaller font size */
    color: #242424; /* Text color */
  }
  
  .leaderboard-card .initials {
    font-weight: bold;
  }
  
  .leaderboard-card .score {
    font-size: 16px;
    margin-left: 8px; /* Add some space between initials and score */
  }
  
  
  
  
  